/* You can add global styles to this file, and also import other style files */
.h2_form {
    border-bottom: 2px solid #f48e36;
    padding: 8px 0px;
    margin-bottom: 20px;
    font-size: 15px;
}
.alert-danger {
    color: #721c24;
    background-color: none !important; 
    border-color: none !important;
}